* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.35s;
}
a:hover {
    opacity: 0.7;

}
.logo{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 6px;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    background: rgb(14, 13, 13);
    height: 6vh;
}
.nav-list{
    display: flex;
    list-style: none;
}
.nav-list li{
    letter-spacing: 4px;
    margin-left: 12px;
    margin-left: 12px;

}
body{
    background-image: url(imagens/backgroung.jpeg);
}
img {
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}

.container{
    margin: 0px 30px;
    padding: 0px 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.github{
    width: 120px;
    height: auto;
}
.portifolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.contact-form label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}
.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #218838;
}
.forma{
    align-items: safe;
}
